.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-column h1 {
    text-align: center;
}

.next-hold {
    display: flex;
    justify-content: space-around;
}

.next-text {
    background: white;
    padding: 0px;
    border: 0px;
    margin-top: -30px;
}

.game-board {
    border: 2px solid;
}

fieldset {
    border: 2px solid black;
}

legend {
    font-weight: bold;
}
